In [1]:
tup = 4, 5, 6

In [2]:
tup

(4, 5, 6)

In [3]:
nested_tup = (4, 5, 6), (7, 8)

In [4]:
nested_tup

((4, 5, 6), (7, 8))

In [5]:
tuple([4, 0, 2])

(4, 0, 2)

In [6]:
tup = tuple('string')

In [7]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [8]:
tup[0]

's'

In [9]:
tup = tuple(['foo', [1, 2], True])

In [11]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [12]:
tup[1].append(3)

In [13]:
tup

('foo', [1, 2, 3], True)

In [14]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [15]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [16]:
tup = (4, 5, 6)

In [17]:
a, b, c = tup

In [18]:
b

5

In [19]:
a

4

In [20]:
c

6

In [21]:
tup = 4, 5, (6, 7)

In [22]:
a, b, (c, d) = tup

In [23]:
d

7

In [24]:
b

5

In [25]:
tmp = a

In [26]:
a = b

In [27]:
b = tmp

In [28]:
a

5

In [29]:
b

4

In [30]:
a, b = 1, 2

In [31]:
a

1

In [32]:
b

2

In [33]:
a, b = b, a

In [34]:
a

2

In [35]:
b

1

In [36]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [37]:
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [38]:
values = 1, 2, 3, 4, 5

In [39]:
a, b, *rest = values

In [40]:
a, b

(1, 2)

In [41]:
rest

[3, 4, 5]

In [42]:
a, b, *_ = values

In [43]:
a

1

In [44]:
b

2

In [45]:
_

[3, 4, 5]

In [46]:
rest

[3, 4, 5]

In [47]:
a = (1, 2, 2, 2, 3, 4, 2)

In [50]:
a.count(2)

4

In [51]:
a_list = [2, 3, 7, None]

In [52]:
tup = ('foo', 'bar', 'baz')

In [53]:
b_list = list(tup)

In [54]:
b_list

['foo', 'bar', 'baz']

In [55]:
b_list[1] = 'peekaboo'

In [56]:
b_list

['foo', 'peekaboo', 'baz']

In [57]:
gen = range(10)

In [58]:
gen

range(0, 10)

In [59]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
b_list.append('dwarf')

In [61]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [62]:
b_list.insert(1, 'red')

In [63]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [64]:
b_list.pop(2)

'peekaboo'

In [65]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [66]:
b_list.append('foo')

In [67]:
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [68]:
b_list.remove('foo')

In [69]:
b_list

['red', 'baz', 'dwarf', 'foo']

In [70]:
'dwarf' in b_list

True

In [71]:
[4, None, 'foo'] + [7, 8, (2,3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [72]:
x = [4, None, 'foo']

In [73]:
x.extend([7, 8, (2, 3)])

In [74]:
x

[4, None, 'foo', 7, 8, (2, 3)]

In [75]:
everything = []

In [76]:
for chunk in list_of_lists:
    everything.extend(chunk)

NameError: name 'list_of_lists' is not defined

In [77]:
a = [7, 2, 5, 1, 3]

In [78]:
a.sort()

In [79]:
a

[1, 2, 3, 5, 7]

In [80]:
b = ['saw', 'small', 'He', 'foxes', 'six']

In [81]:
b.sort(key=len)

In [82]:
b

['He', 'saw', 'six', 'small', 'foxes']

In [83]:
import bisect

In [84]:
c = [1, 2, 2, 2, 3, 4, 7]

In [85]:
bisect.bisect(c, 2)

4

In [86]:
bisect.bisect(c, 5)

6

In [87]:
bisect.insort(c, 6)

In [88]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [89]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]

In [90]:
seq[1:5]

[2, 3, 7, 5]

In [91]:
seq[3:4] = [6, 3]

In [92]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [93]:
seq[:5]

[7, 2, 3, 6, 3]

In [94]:
seq[3:
]

[6, 3, 5, 6, 0, 1]

In [95]:
seq[-4:]

[5, 6, 0, 1]

In [96]:
seq[-6:-2]

[6, 3, 5, 6]

In [97]:
seq[::2]

[7, 3, 3, 6, 1]

In [98]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [99]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

In [100]:
i = 0
for value in collection:
    i += 1
print(value)

NameError: name 'collection' is not defined

In [101]:
some_list = ['foo', 'bar', 'baz']

In [102]:
mapping = {}

In [104]:
for i, v in enumerate(some_list):
    mapping[v] = i

In [105]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [106]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [107]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [108]:
seq1 = ['foo', 'bar', 'baz']

In [109]:
seq2 = ['one', 'two', 'three']

In [110]:
zipped = zip(seq1, seq2)

In [111]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [112]:
seq3 = [False, True]

In [113]:
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [114]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [115]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
           ('Schilling', 'Curt')]

In [117]:
first_names, last_names = zip(*pitchers)

In [118]:
first_names

('Nolan', 'Roger', 'Schilling')

In [119]:
last_names

('Ryan', 'Clemens', 'Curt')

In [120]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [121]:
empty_dict = {}

In [122]:
d1 = {'a': 'some value', 'b': [1, 2, 3, 4]}

In [123]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [124]:
d1[7] = 'an integer'

In [125]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [127]:
d1['b']

[1, 2, 3, 4]

In [128]:
'b' in d1

True

In [129]:
b in d1

False

In [130]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [131]:
d1[5] = 'some values'

In [132]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some values'}

In [133]:
d1[6] = 'some value'

In [134]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some values',
 6: 'some value'}

In [135]:
d1['dummy'] = 'another value'

In [136]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some values',
 6: 'some value',
 'dummy': 'another value'}

In [137]:
del d1[5]

In [138]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 6: 'some value',
 'dummy': 'another value'}

In [139]:
ret = d1.pop('dummy')

In [140]:
ret

'another value'

In [141]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 6: 'some value'}

In [142]:
list(d1.keys())

['a', 'b', 7, 6]

In [144]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer', 'some value']

In [145]:
d1.update({'b': 'foo', 'c': '12'})

In [146]:
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 6: 'some value', 'c': '12'}

In [147]:
mapping = {}

In [148]:
for key, value in zip(key_list, value_list):
    mapping[key] = value

NameError: name 'key_list' is not defined

In [149]:
if key in some_dict:
    value = some_dict[key]
else:
    value = default_value

NameError: name 'key' is not defined

In [150]:
value = some_dict.get(key, default_value)

NameError: name 'some_dict' is not defined

In [151]:
words = ['apple', 'bat', 'bar', 'atom', 'book']

In [152]:
by_letter = {}

In [154]:
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter]  = [word]
    else:
        by_letter[letter].append(word)

In [156]:
by_letter

{'a': ['a'], 'p': ['p', 'p'], 'l': ['l'], 'e': ['e']}

In [157]:
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)

In [158]:
by_letter

{'a': ['a', 'a'], 'p': ['p', 'p', 'p', 'p'], 'l': ['l', 'l'], 'e': ['e', 'e']}

In [159]:
hash('string')

-6118798644800503970

In [160]:
hash((1, 2, (2, 3)))

1097636502276347782

In [161]:
hash((1, 2, [2, 3])

SyntaxError: unexpected EOF while parsing (<ipython-input-161-78d727d2aa77>, line 1)

In [162]:
d = {}

In [163]:
d[tuple([1, 2, 3])] = 5

In [164]:
d

{(1, 2, 3): 5}

In [165]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [166]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [167]:
a = {1, 2, 3, 4, 5}

In [168]:
b = {3, 4, 5, 6, 7, 8}

In [169]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [170]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [171]:
a.intersection(b)

{3, 4, 5}

In [172]:
a & b

{3, 4, 5}

In [173]:
c = a.copy()

In [174]:
c |= b

In [175]:
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [176]:
d = a.copy()

In [177]:
d &= b

In [178]:
d

{3, 4, 5}

In [179]:
my_data = [1, 2, 3, 4]

In [180]:
my_set = {tuple(my_data)}

In [181]:
my_set

{(1, 2, 3, 4)}

In [182]:
a_set = {1, 2, 3, 4, 5}

In [183]:
{1, 2, 3}.issubset(a_set)

True

In [184]:
a_set.issuperset({1, 2, 3})

True

In [186]:
{1, 1, 2, 3} == {3, 2, 1}

True

In [187]:
string = ['a', 'as', 'bat', 'dove', 'python']

In [189]:
s = [x.upper() for x in string if len(x) > 2]

In [190]:
s

['BAT', 'DOVE', 'PYTHON']

In [191]:
set(map(len, string))

{1, 2, 3, 4, 6}

In [192]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [193]:
flattened = [x for tup in some_tuples for x in tup]

In [194]:
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [195]:
flattened = []

In [196]:
for tup in some_tuples:
    for x in tup:
        flattened.append(x)

In [197]:
tup

(7, 8, 9)

In [198]:
x

9

In [199]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [200]:
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [201]:
my_function(5, 6, 0.7)

0.06363636363636363

In [202]:
a = None

In [203]:
def bind_a_variable():
    global a
    a = []
bind_a_variable()

In [204]:
print(a)

[]

In [211]:
import re
def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [212]:
states = [' Alabama', 'Georgia', 'georgia', 'south  carolina##']

In [213]:
clean_strings(states)

['Alabama', 'Georgia', 'Georgia', 'South  Carolina']

In [214]:
strings = ['foo', 'card', 'bar']

In [215]:
strings.sort(key=lambda x: len(set(list(x))))

In [216]:
strings

['foo', 'bar', 'card']

In [217]:
some_dict = {'a': 1, 'b': 2, 'c': 3}

In [221]:
for value in some_dict:
    print(value)

a
b
c

In [222]:
dict((i, i**2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [223]:
import itertools

In [224]:
first_letter = lambda x: x[0]

In [225]:
names = ['Alan', 'Adam', 'Wes', 'Steven']

In [228]:
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names))

In [229]:
def attemp_float(x):
    try:
        return float(x)
    except:
        return x

In [232]:
attemp_float('ans')

'ans'

In [233]:
import sys

In [234]:
sys.getdefaultencoding()

'utf-8'

In [235]:
f.seek(3)

NameError: name 'f' is not defined